CLICKUP_CLIENT_ID=YOUR_CLICKUP_CLIENT_ID
CLICKUP_CLIENT_SECRET=YOUR_CLICKUP_CLIENT_SECRET
CLICKUP_CALLBACK_URL=YOUR_CLICKUP_CALLBACK_URL
SESSION_SECRET=YOUR_SESSION_SECRET
CLICKUP_WEBHOOK_SECRET=YOUR_CLICKUP_WEBHOOK_SECRET

# Credenciales para ClickUp
CLICKUP_ACCESS_TOKEN=your_clickup_access_token_here

# Credenciales para GMail
GOOGLE_CLIENT_ID=_YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=UR_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=YOUR_GOOGLE_REDIRECT_URI
# GOOGLE_REFRESH_TOKEN=your_refresh_token_here
